.popup {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

.popup_open {
  opacity: 1;
  z-index: 1;
}

.popup__content {
  background-color: white;
  width: 358px;
  padding: clamp(14px, calc(14px + 20 * ((100vw - 768px) / 672)), 34px) 36px
    28px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: left;
  transform: translate(-50%, -50%);
}

.popup__close {
  background-color: transparent;
  background-image: url(../../images/close.svg);
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  position: absolute;
  top: clamp(-40px, calc(-40px - 6 * ((100vw - 768px) / 672)), -46px);
  right: clamp(-40px, calc(-40px - 6 * ((100vw - 768px) / 672)), -46px);
}

.popup__close:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .popup__content {
    width: calc(100% - 32px);
    height: calc(100% - 56px);
    margin-top: 56px;
    padding: 16px 16px 0;
    border-radius: 16px 16px 0 0;
    top: 0;
    left: 0;
    transform: none;
  }

  .popup__close {
    background-size: cover;
    background-position: center;
    width: calc(24px + 16 * ((100vw - 320px) / 447));
    height: calc(24px + 16 * ((100vw - 320px) / 447));
    top: calc(-40px - 8 * ((100vw - 320px) / 447));
    right: 16px;
  }
}
