.main {
  background-color: #f5f6f7;
  width: 100%;
}

.main__title {
  margin: 0;
  margin-left: clamp(40px, calc(40px + 64 * ((100vw - 768px) / 672)), 104px);
  padding-top: clamp(40px, calc(40px + 40 * ((100vw - 768px) / 672)), 80px);
  text-align: left;
  font-family: Roboto-slab, sans-serif;
  font-weight: 400;
  font-size: clamp(30px, calc(30px + 10 * ((100vw - 768px) / 672)), 40px);
  line-height: clamp(40px, calc(40px + 6 * ((100vw - 768px) / 672)), 46px);
}

@media screen and (max-width: 767px) {
  .main__title {
    margin-left: 16px;
  }

  .main__button {
    width: 288px;
  }
}
