.cards-list {
  width: calc(
    100% - clamp(80px, calc(80px + 128 * ((100vw - 768px) / 672)), 208px)
  );
  padding: clamp(32px, calc(32px + 32 * ((100vw - 768px) / 672)), 64px)
    clamp(40px, calc(40px + 64 * ((100vw - 768px) / 672)), 104px);
}

.cards-list__list {
  display: grid;
  justify-content: center;
  grid-template-columns: max-content max-content max-content;
  gap: clamp(8px, calc(8px + 8 * ((100vw - 768px) / 672)), 16px);
  list-style-type: none;
}

.cards-list__button {
  background-color: white;
  width: clamp(240px, calc(240px + 48 * ((100vw - 768px) / 672)), 288px);
  height: clamp(56px, calc(56px + 8 * ((100vw - 768px) / 672)), 64px);
  margin-bottom: clamp(40px, calc(40px + 40 * ((100vw - 768px) / 672)), 80px);
  padding: 0;
  border: none;
  border-radius: 80px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.cards-list__button:hover {
  background-color: #e8e8e8;
  opacity: 0.9;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .cards-list {
    padding: 58px auto 16px;
    grid-template-columns: repeat(auto-fill, 288px);
    gap: 10px;
  }
}
